@font-face {
	font-family: "iconfont";
	src: url('//at.alicdn.com/t/c/font_3698273_7wht2b7joym.ttf?t=1694335940901') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}